[Desktop Entry]
Type=Application
Name=KQuickView
Comment=Previsualizador rápido para KDE Plasma
Exec=__EXEC_PATH__ %f
Icon=kquickview
Terminal=false
Categories=Utility;
NoDisplay=true
